body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url(s.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.7); /* Transparent white background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.content {
    padding: 20px;
}
  
h1 {
    /* font-size: 2.5em; */
    color: #333;
    margin-bottom: 20px;
}h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff; /* Bootstrap primary blue */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}
